<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <!-- to be removed when merged -->
    test space
    <a href="/spaces/new">add a space</a>
    <!--  -->
  </body>
</html>
