<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>User Dashboard</title>
  </head>
  <body>
    <p><a href="/spaces">Spaces</a></p>
    <br>
    <h1>Dashboard</h1>
    <br>
    <br>
    <h4>Your Submitted Requests</h4>
    <h5>Approved:</h5>
    <p>Your request to book <%= @space.name %> is approved!</p>
    <br>
    <br>
    <h5>Pending:</h5>
    <br>
    <br>
    <h5>Declined:</h5>
    <br>
    <br>
  </body>
</html>
